.btnWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 5px;
  transition: 0.2s;
  background-color: rgba(43, 39, 39, 0.377);
}

.btn:hover,
.btn:focus {
  background-color: rgba(24, 110, 33, 0.377);
}
